body {
  background-color: #f7f0de;
}

.master {
  margin: auto;
  width: 70%;
}

.navbar {
  height: 50px;
  opacity: 0.9;
}

.navbar ul {
    list-style-type: none;
    width: 96%;
    top: 0;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #f7f0de;
}

.navbar ul li {
  display: inline-block;
  font-size: 26px;
}

.navbar ul li a {
    color: #d88b7d;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

.active {
  color:white;
}

.main {
  background-color: white;
  text-align: center;
  color: #d88b7d;
  margin-top:0px;
  font-family: 'Alex Brush', cursive;
  font-size: 25px;
}

.mainpic {
  width: 95%;
}

h1 {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  color: black;
}

img {
  width: 96%;
  margin: 2%;
}

p a {
  color: tan;
}

p a:hover {
  color:white;
}

#demo {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.ourstory {
  text-align: center;
  background-color: white;
  color: black;
  margin-top:10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.ringchamp {
  width: 60%;
}

h2 {
  text-align: center;
  color: #d88b7d;
  font-family: 'Alex Brush', cursive;
  font-size: 45px;
}

.ourwedding {
  text-align: center;
  background-color: white;
  color: black;
  margin-top:10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.rsvpbutton {
  border: solid 2px black;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.rsvpdeets li{
  text-align: left;
  width: 80%;
  margin: auto;
}

.bbq {
  text-align: center;
  background-color: white;
  color: black;
  margin-top:10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.maindetail {
  background-color: white;
  text-align: center;
  color: black;
  margin-top:0px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

h4 {
    display: block;
    color: #d88b7d;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    padding: 14px 16px;
}

h5 {
  text-align: center;
  color: #d88b7d;
  font-family: 'Alex Brush', cursive;
  font-size: 40px;
}

.photobox {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  color: black;
  margin-top: 0px auto;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  float: left;
}

.pix {
  width: 30%;
}

.previewbox {
  float: right;
}

@media screen and (max-width: 1000px) {
 .master {
   margin: auto;
   width: 95%;
  }
}