body {
  background-color: #f7f0de;
}

.navbar {
  height: 50px;
  opacity: 0.9;
  margin: auto;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f0de;
}

.dropcont1 {
    display: block;
    width: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown1:hover .dropcont1 {
  display: block;
}

li {
    float: left;
}

li a {
    display: block;
    color: #d88b7d;
    font-family: sans-serif; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
  color:white;
}

.main {
  background-color: white;
  text-align: center;
  padding: 0px;
  width: 50%;
  color: #d88b7d;
  margin-top:0px;
  font-family: 'Alex Brush', cursive;
}

.mainpic {
  width: 94%;
}

h1 {
  font-size: 48px;
  font-family: sans-serif;
  color: black;
}

img {
  border: solid 20px white;
  width: 100%;
}

.meeting {
  width: 80%
}

p a {
  color: tan;
}

p a:hover {
  color:white;
}

#demo {
  font-size: 20px;
  font-family: sans-serif;
  color: black;
}

.ourstory {
  text-align: center;
  padding: 20px;
  width: 50%;
  color: black;
  margin-top:10px;
  font-family: sans-serif;
}

.ringchamp {
  width: 60%;
}

h2 {
  text-align: center;
  color: #d88b7d;
  font-family: 'Alex Brush', cursive;
  font-size: 40px;
}

.how {
  text-align: center;
}

.ourwedding {
  text-align: center;
  padding: 20px;
  width: 50%;
  color: black;
  margin-top:10px;
  font-family: sans-serif;
}

.rsvpbutton {
  border: solid 2px black;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.bbq {
  text-align: center;
  padding: 20px;
  width: 50%;
  color: black;
  margin-top:10px;
  font-family: sans-serif;
}